<!DOCTYPE html>
<html>
<head>
  <title>Uitgaven</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <div><%= flash[:notice] %></div>

  <div><%= link_to "Log out", logout_path, method: "delete" %></div>

</head>
<body>

<%= yield %>

</body>
</html>
